
  
  <div class="text-center">
    <img src="/img/d2-800.jpg" class="rounded" alt="...">
  </div>
  <!-- Page Content -->
  <div class="text-center">
    <p>
        Northwest missouri State University Receives a lot of prestigious awards in sports and given 
        many opportunities to bearcats to participate in the competetions. Students even receives scholarships who perform 
        well in the sports events. We beleive that sports and athletics are very important to the people which keeps us healthy 
        and to be fit.
        </p>
  </div>
   
    


    
  

    <!-- /.container -->
    
       
  