<!-- ejs footer that will be used by layout to render the footer on all banneritem pages.-->
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy;Hughes Fieldhouse</p>
 <a href="/logout" class="btn btn-primary btn-md">Logout</a>
</div>
</footer>