<!-- contact page that provides a form for the user to fill out to contact the fieldhouse team-->
<!-- script that gives a title to the page that will be used by the test to ensure proper page load-->
<script>
  window.onload = function(){ 
   document.title = "Hughes Fieldhouse | Contact"; 
}
 </script>
<!-- Contact Page Content Begins below -->
  <div class="container" style='background-color: white;'>

   <br>
   <br>
    
    <h1>Contact Form</h1>
    <div class="row" >
        
        <div class = "col-md-5" >
        
        
        <form action="/contact" method="post" id=contactform >

          <!-- Form group for name -->
      
          <div class="form-group">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="inputname" placeholder="Your name" class="form-control" type="text" maxlength="80" required value="">
              </div>
            </div>
          </div>

          
      
          <!-- Form group for email -->
      
          <div class="form-group">
            <label class="col-md-8 control-label">E-Mail</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="inputemail" placeholder="Email address" class="form-control" type="email" maxlength="80"
                  required value="">
              </div>
            </div>
          </div>

           <!-- Form group for phone number -->


          <div class="form-group">
            <label class="col-md-8 control-label">Phone Number</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="inputphone" placeholder="000-000-0000" class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="80"
                  required value="">
              </div>
            </div>
          </div>

          <!-- Form group for reason of contact -->
      
          <div class="form-group">
            <label class="col-md-8 control-label">Reason for Contact</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <select name="inputreason"placeholder="General Inquiry"class="form-control" required value="">
                  <option value="">Select a Contact Form</option>
                  <option value="General Inquiry">General Inquiry</option>
                  <option value="Field Reservation">Field Reservation</option>
                  <option value="Complaint">Complaint</option>
                  <option value="Other">Other</option>
              </select>
              </div>
            </div>
          </div>
          <!-- Form group for company name -->
      
          <div class="form-group" id="company-group">
            <label class="col-md-8 control-label">Company</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input name="inputcompany" placeholder="Company" class="form-control" type="text" maxlength="80" value="">
              </div>
            </div>
          </div>
      
          <!-- Form group for start time of reservation -->
          <div class="form-group" id="company-group">
            <label class="col-md-8 control-label">Reservation Start Time</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input name="inputstart" placeholder="" class="form-control" type="datetime-local" maxlength="80" value="" >
              </div>
            </div>
          </div>
           <!-- Form group for end time of reservation -->
          <div class="form-group" id="company-group">
            <label class="col-md-8 control-label">Reservation End Time</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input name="inputend" placeholder="" class="form-control" type="datetime-local" maxlength="80" value="">
              </div>
            </div>
          </div>
      
      

          <!-- Form group for comment -->
      
          <div class="form-group">
            <label class="col-md-8 control-label">Comment</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea name="inputcomment" placeholder="Your comment" class="form-control" maxlength="1000" required value=""></textarea>
              </div>
            </div>
          </div>

          


 <!-- Date picker scripts for the start and end times of reservation -->
<script>
    $(function () {
  $('#date1').datetimepicker();
});

 $(function () {
  $('#date2').datetimepicker();
});
</script>
          <!-- Form group for button  -->
      
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary bg-nw-green">Send message <span class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>

         
         


      
        </form>
            
        </div>
        
        
    </div>



<!--Page Content Ends  -->
    
