<!--Contact confirm page, page rendered after contact form is filled to indicate the user of a successfull send-->
<!-- script that gives a title to the page that can be used by the test to ensure proper page load-->
<script>
  window.onload = function(){ 
   document.title = "Hughes Fieldhouse | Contact Confirm"; 
}
 </script>

  <div class="container" style='background-color: white;'>

    <script>
    
    
    </script>
    
    <div class="container-fluid">
      <h2>Message Sent</h2>
      <p>We have recieved your message, we will review your response and get back to you as soon as we can.</p>
      <br /><br />
      <p><a class="btn btn-primary bg-nw-green" href="/" role="button">Return to Site</a></p>
          
            
        </div>
        
        <div class="col-md-4"></div>
    </div>


