
  <!-- Footer -->
  <footer class="page-footer font-small" id="footer-props">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://www.nwmissouri.edu/aboutus/">About us</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="awards">Awards</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://bearcatsports.com/">Athletics</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="http://www.nwmissouri.edu/contact.htm">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr>
      <!-- Grid row-->
      <div class="row" id="social">
        <!-- Grid column -->
        <div>
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/pages/Carl-and-Cheryl-Hughes-Fieldhouse/234064050543836">
            <img src="img\icons\facebook.svg" alt="">
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/NWMOSTATE">
            <img src="img\icons\twitter.svg" alt="">
          </a>
          <a class="tw-ic" href="https://www.youtube.com/watch?v=i1m0LUD3xvM">
            <img src="img\icons\youtube.svg" alt="">
          </a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.nwmissouri.edu/"> Northwest Missouri State University.</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- countDown script file -->
  <script src="countDown.js"></script>
  <script src="modal.js"></script>