<nav class="navbar navbar-expand-lg navbar-dark fixed-top backgroundNav">
    <div class="container">
      <a class="navbar-brand " href="/">
        <img class="navlogo" src="./img/site.PNG">
        <div class="smaller"> Hughes Fieldhouse</div>
      </a>
      <!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
              <span class="navbar-toggler-icon"></span>
            </button> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse collapseBackground" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/grand-opening.htm">Grand Opening</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/story.htm">The Story</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/about.htm">About The Facility</a>

            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/events">Today's Events
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Facilities
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Floor Plans</a>
              <a class="dropdown-item" href="locker">Lockers</a>
              <a class="dropdown-item" href="contact">Request Information</a>
              <a class="dropdown-item" href="meetingRooms">Meeting Rooms</a>

            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              News & Photos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/gallery/construction/index.htm">Construction Gallery</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/gallery/groundbreaking/index.htm">Groundbreaking Gallery</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/gallery/renders/index.htm">Renders Gallery</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/webcam.htm">Webcam</a>
              <a class="dropdown-item" href="https://www.nwmissouri.edu/HughesFieldhouse/media.htm">Media Center</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>





  <!-- </nav> -->

  <!-- Page Content -->
  <div class="container">
    <!-- <a class="navbar-brand" href="#">Hughes Field House</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>