<br>
<br>

             
              <div class="row">
                  <div class="col-md-2"></div>
              <div class="col-md-8  ">
                  <img src=".\img\locker.JPG" class="rounded" style="width: 100%;
                  height: auto;">
                </div>
                <div class="col-md-2"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text-center" style = "background-color: white">
                  <p>
                    Locker Rooms are available for teams to change in during atheltic events.  Community members that come during the community walking hours should feel
                      free to use the locker rooms to change.  There are lockers available in the hallway next to the track, which can be used by anyone at anytime.  To use one of
                      the public lockers,  bring your own lock to lock the locker during your visit at the Fieldhouse.  Neither the Hughes Fieldhouse or Northwest Missouri State University will
                      be responsible for loss or damaged personal items in the lockers area.
                  </p>
                  </div>
                </div> 
                <div class="col-md-2"></div>
                </div>
             
              
  