<!-- Login page to be rendered to user -->
<!-- script that gives a title to the page that ensures proper page load -->
<script>
  window.onload = function(){ 
   document.title = "Hughes Fieldhouse | Login"; 
}
 </script>
 
  <!-- Page Content -->
  <div class="container">
      <br>
      <div class="card">
        <div class="card-body">
          <!--login to the banneritem editor form-->
          <form method="post" action="/login">
            <div class="form-group">
              <!--information and username field-->
                <small id="emailHelp" class="form-text text-muted">Login For Hughes Fieldhouse Admin.</small>
              <label for="username">Username</label>
              <input type="username"  class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username" name="username">
             
            </div>
            <!--password field-->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
           <!--submit the form to login to the editor-->
            <button id= "btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

  </div>
  </div>


