<!-- Page to show meeting room information to the user -->
<!-- Script that gives the page a title that will be used by the tests to ensure proper page load -->
<script>
  window.onload = function(){ 
   document.title = "Hughes Fieldhouse | Meeting Rooms"; 
}
 </script>
<br><br>

             <!-- information to be displayed about the meeting rooms-->
              <div class="row">
                  <div class="col-md-2"></div>
              <div class="col-md-8  ">
                  <img src=".\img\2.jpg" class="rounded" style="width: 100%;
                  height: auto;">
                </div>
                <div class="col-md-2"></div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text-center" style = "background-color: white">
                  <p>
                   There is one large meeting room with dividers that can make it into 3 individual rooms to meet the needs of a wide variety of classroom meetings and public use spaces.  Each divided room comes fully equipped with Audio Visual equipment. The large meeting room can
                   accomodate up to 150 people total or 50 people per divided room.
                  </p>
                  </div>
                </div> 
                <div class="col-md-2"></div>
                </div>
             