<!--Create view for the banner editor -->

<br />

<!-- Change the title of the document so the Test suite can detect if the proper page was loaded, also gives the title to the tab -->
<script>
	window.onload = function(){ 
	 document.title = "Banner Item Create"; 
 }
   </script>
<br />
<h2>Create a new Banner Announcement</h2>
<p>There are currently
	<%= BannerItem.query.length %> Banner Items. </p>
<br />
<% 
maxID=0; 
for (var i=0; i<BannerItem.query.length; i++) {
    if(BannerItem.query[i]._id > maxID) {
        maxID=BannerItem.query[i]._id;
        }
}
%>

<!--Instructions for the user to use -->
<h3>Information</h3>
<ul>
	<li><b>Description:</b> Place the message that you would like to display on the home page in this box</li>
	<li><b>Start Date for Banner Display:</b> Use the button on the right side of the box to select the date that you would like the banneritem to start being displayed</li>
	<li><b>Start Time:</b> Use the button on the right to specify the time of the day that you would like the banner item to start being displayed on the start date.</li>
	<li><b>End Date for Banner Display:</b> Use the button on the right side of the box to select the date that you would like the banneritem to stop being displayed</li>
	<li><b>End Time:</b> Use the button on the right to specify the time of the day that you would like the banner item to stop being displayed on the stop date.</li>
	<li><b>Priority:</b> Mark this check box to indicate that the banner item should be of higher importance and placed above other messages. Leave blank to not prioritize your post.</li>
	<li><b>Link:</b> Paste in a url to a link that you would like direct the users to if they click on the banner item. Leave blank if you only want to display text and not link to another site</li>
  </ul>
  
  
<!-- fields for the user to fill out to create the banner item-->
<div class="content">
	<div>
		<form name="banneritemform" method="POST" action="/banneritem/save" + _id.value>

			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
			</div>

			<div class="form-group">
				<label for="description">Description:</label>
				<input type="text" class="form-control" id="Description" name="description" required >
			</div>


			<div class="form-group ">
				<label for="startDate">Start Date for Banner Display:</label>
				<div class="input-group datepick1">

					<input type="text" class="form-control" name="startDate" id="startDate" value="" required>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
				</div>
			</div>
			<!-- jquery datetimepicker for startDate on this page-->
			<script>
				$(document).ready(function () {
					$('.datepick1').datetimepicker({
						format: 'MM-DD-YYYY',
						ignoreReadonly: true
					});
				});

			</script>


	</div>
	<div class="form-group">
		<label for="startTime">Start Time:</label>
		<div class="form-group">
			<div class='input-group date' id='datetimepicker3'>
				<input type='text' class="form-control" id="startTime" name="startTime" value="" required />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-time"></span>
				</span>
			</div>
		</div>

	</div>
	<!-- jquery datetimepicker for startTime on this page-->
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker3').datetimepicker({
				format: 'LT'
			});
		});
	</script>
	<div class="form-group ">
		<label for="endDate">End Date for Banner Display:</label>
		<div class="input-group datepick2">

			<input type="text" class="form-control" name="endDate" id="endDate" value="" required>
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</div>
		</div>
	</div>
	<!-- jquery datetimepicker for endDate on this page-->
	<script>
		$(document).ready(function () {
			$('.datepick2').datetimepicker({
				format: 'MM-DD-YYYY',
				ignoreReadonly: true
			});
		});
	</script>
	
	<div class="form-group">
		<label for="endTime">End Time:</label>
		<div class="form-group">
			<div class='input-group date' id='datetimepicker4'>
				<input type='text' class="form-control" id="endTime" name="endTime" value="" required />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-time"></span>
				</span>
			</div>
		</div>

	</div>
	<!-- jquery datetimepicker for endTime on this page-->
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker4').datetimepicker({
				format: 'LT'
			});
		});
	</script>

	<div class="form-group">
		<label>Priority:</label>
		<input type="checkbox" class="form-control" id="priority" name="priority"  >
		
	</div>

	<div class="form-group">
		<label for="link">Link to Url:</label>
		<input type="text" class="form-control" id="link" name="link" >
	</div>

	<div class="form-group">
		<input type="submit" value="Post new entry" class="btn btn-primary" id="btn" onclick="return checkTimes();"/>
	</div>
	</form>
	<br />

	<!--  Function that checks to see if the user entered a start time that occurs before the end time so there is some range for the item to be displayed-->
	<script>
		function checkTimes() {
			console.log("checktimes called");
			var sd = document.getElementById("startDate").value;
			var st = document.getElementById("startTime").value;
			var start = sd + " " + st

			var ed = document.getElementById("endDate").value;
			var et = document.getElementById("endTime").value;
			var end = ed + " " + et

			var startDate = new Date(start);
			var endDate = new Date(end);
			if (startDate<endDate){
				// start date is before end date
				document.banneritemform.submit();
			}else{
				//start date is after end date, need to fix your times.
				alert("End Date and Time is before Start Date and Time. Fix the End Date and Time. ");
				return false;
			}

		}
	</script>
	<form method="get" action="/banneritem"  >
		<input type="submit" value="Return to list" class="btn btn-caution" />
	</form>
</div>
</div>